.plant-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 400px;
  margin: 30px; 
  
}

.plant-picture {
  object-fit: cover;
  width: 300px;
  height: 400px; 

}

.bottom-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: left; 
  margin-top: 40px;
  justify-content: space-evenly;
}

.description {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  justify-content: flex-start;
  margin: 20px;
}

.add-plant {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  justify-content: center;
  margin: 20px;
}

.users {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  justify-content: flex-end;
  margin: 20px;
}


.top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

